/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */

.font25px {
  font-size: 25px;
}

.fontBold {
  font-weight: bold;
}

/* Color font */
.greenColor {
  color: #28B886;
}


/* Color background */

.greenBg {
  background-color: #28B886;
}

.blackBg {
  background-color: #2d2a32;
}

.logo {
  width: 8%;
  margin-right: 2em;
}

.card {
  margin: 1em;
  border-radius: 8px !important;
  box-shadow: 0 1px 5px rgb(0 0 0 / 30%);
}

.cardTitle {
  border-radius: 8px 8px 0 0;
  background-color: #28B886;
  color: #ffff;
  font-size: 22px;
  padding: 0.3em;
}

.-button {
  text-decoration: none;
  font-weight: 600;
  word-break: break-all;
  text-transform: uppercase;
  display: inline-block;
  color: white;
  padding: 1rem 1.8rem;
  border-radius: 0.8rem 0.8rem 0.8rem 0;
  border: none;
  outline: none;
  margin-bottom: 20px;
  font-size: larger;
}

.-button:hover {
  text-decoration: none;
  color: white;
}
.-button:disabled{
  background-color: rgba(45, 42, 50, 0.5);
}

.iconGladiator {
  width: 50px;
  margin-bottom: 1em;
}

.dropdown {
  padding: 15px;
  cursor: pointer;
  border: 1px solid #28B886;
  border-radius: 15px;
}


