<div fxLayout="row" fxLayoutAlign="end center" style="margin: 1em">
  <a routerLink="/emperor" class="-button blackBg">
    Empereur
  </a>
</div>


<div fxLayoutAlign="center center" >
  <img class="logo" src="../../../assets/img/school.png"/>
  <div class="font25px"> Ludi</div>
</div>

<div class="card">
  <div class="cardTitle" fxLayoutAlign="center center">Proposition de combat</div>

  <div style="margin-top: 1em; margin-left: 1em" class="fontBold">Veuillez choisir 2 types de gladiateurs:</div>

  <div style="margin-top: 1em; margin-left: 1em">
    <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>

      <div fxLayout="row wrap" fxLayoutAlign="space-around center">

        <div *ngFor="let type of gladiatorTypes; let i=index">

          <label fxLayout="column" fxLayoutAlign="center center">
            <app-gladiator-type-card
              [name_gladiatorType]="type.name_gladiatorType"
            >
            </app-gladiator-type-card>

            <input type="checkbox"
                   [value]="type.id_gladiatorType"
                   (change)="onCheckboxChange({e : $event})"/>
          </label>

        </div>
      </div>

      <div style="margin-top: 3em; margin-left: 1em" class="fontBold" >
        <label>
          <input type="checkbox"
                 (change)="oncheckedAnimal({e : $event})"
          />
          Bonus Animal
        </label>
      </div>

      <div  fxLayout="column" fxLayoutAlign="center center" style="margin-top: 2em">
        <div class="notification"  [style.--color]="notificationColor" *ngIf="notification != ''">
          <p> {{notification}} </p>
        </div>

        <input class="-button greenBg" type="submit" value="Enregistrer">
      </div>



    </form>
  </div>

</div>
